/*Basics*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo:ital,wght@0,400..700;1,400..700&family=Rock+Salt&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Side Panel*/
#sidePanel{
    width: 20vw;
    height: 100vh;
    background: rgb(232, 232, 232);
    position: relative;
}

#logoSection{
    width: 19vw;
    height: 10vh;
    display: flex;
    padding-left: 1vw;
    align-items: center;
}

#logoSection i{
    color: #0f1020;
    font-size: 1.5rem;
    font-weight: 550;
}

#logoSection p{
    padding-left: 1vw;
    font-size: 1.5rem;
    font-weight: 550;
}

.menuNavigationItem{
    width: 20vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuNavButton{
    width: 15vw;
    height: 6vh;
    background-color: white;
    border: none;
    border-radius: 2vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 1vw;
    transition: .8s ease;
}

.menuNavButton:hover{
    background-color: rgb(200, 200, 200);
    transition: .8s ease;
}

.menuNavButton i{
    color: #0f1020;
}

.menuNavButton p{
    padding-left: 1vw;
}

#updgradeSection{
    position: absolute;
    transform: translateY(15vh);
}

#upgradeAccountBtn{
    background-color: #0f1020;
    color: white;
    font-weight: 550;
}

#upgradeAccountBtn:hover{
    background-color: #4e3d1fff;
}

#upgradeAccountBtn i{
    color: #FF9F1C;
}

#upgradeAccountBtn p{
    padding-left: 1vw;
}

#profileSection{
    position: absolute;
    transform: translateY(25vh);
}

#profileButton i{
    color: #0f1020;
}

#profileButton p{
    padding-left: 1vw;
}

/*Main Panel*/
#mainPanel{
    width: 80vw;
    height: 100vh;
    background-color: white;
}

#pageTitle{
    width: 80vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: #0f1020;
}

#pageSubtitle{
    width: 80vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #FF9F1C;
}

#lowerPageSection{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flashcardsArea{
    width: 60vw;
    height: 78vh;
    padding-top: 2vh;
}

.flashcardsRow{
    width: 58vw;
    height: 25vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.flashcardsWrapper{
    width: 15vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashcardButton{
    width: 10vw;
    height: 27vh;
    background: rgb(242, 242, 242);
    border: none;
    border-radius: 2vh;
    
}

.flashcardTitleWrppr{
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flashcardButton:hover{
    border: 1px solid #FF9F1C;
}

.flashcardTitleWrppr img{
    width: 2vw;
}

.flashcardButton p{
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.flashImageWrapper{
    width: 10vw;
    height: 15vh;
}

#createFlashcardsArea{
    width: 20vw;
    height: 80vh;
    background: rgb(232, 232, 232);
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
}

#createFlashcardsTitle{
    width: 20vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f1020;
}